.faculty-img {
  width: 180px;
  height: 180px;
  margin: 0 auto 15px;
  border-radius: 50%;
  padding: 5px;
  border: 4px solid #0a3d4e;
  overflow: hidden;
}

.faculty-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.faculty-card {
  text-align: center;
  width: 200px;
  font-family: "Poppins", sans-serif;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 350px;
}


.role {
  font-weight: 600;
  font-size: 13px;
  margin: 0;
}

.position {
  color: #444;
  font-size: 13px;
  margin-bottom: 15px;
}

.know-btn {
  padding: 7px 20px;
  border: 1px solid #000;
  border-radius: 25px;
  background: transparent;
  cursor: pointer;
  transition: 0.3s;
  font-size: 13px;
}

.know-btn:hover {
  background: #000;
  color: #fff;
}

/* Desktop: 4 per row */
.faculty-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  column-gap: 40px;
  row-gap: 50px;
  padding: 40px 0;
}

/* Tablets: 2 per row */
@media (max-width: 900px) {
  .faculty-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Mobile: 1 per row */
@media (max-width: 500px) {
  .faculty-container {
    grid-template-columns: repeat(1, 1fr);
  }
}
